.not-found {
    max-width: 100%;
  }
  
  .not-found__wrapper {
    max-width: 420px;
    margin: 0 auto;
    padding: 246px 10px 60px;
    box-sizing: border-box;
    background-color: #202020;
  }
  
  .not-found__title {
    margin-top: 0;
    margin-bottom: 5px;
    font-family: "Inter", "Arial", sans-serif;
    font-size: 140px;
    font-weight: 400;
    line-height: 169.43px;
    text-align: center;
    color: white;
  }
  
  .not-found__text {
    margin-top: 0;
    margin-bottom: 186px;
    font-family: "Inter", "Arial", sans-serif;;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
    text-align: center;
    color: white;
  }
  
  .not-found__btn-back {
    display: block;
    border: none;
    padding: 0;
    margin: 0 auto;
    background-color: transparent;
    cursor: pointer;
    font-family: "Inter", "Arial", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.21;
    color: #4285F4;
    transition: .5s ease-in-out;
  }

  .not-found__btn-back:hover {
    opacity: 0.7;
  }
  
  @media screen and (max-width: 1000px) {
    .not-found__wrapper {
      padding-top: 408px;
      padding-bottom: 222px;
    }
  }
  
  @media screen and (max-width: 660px) {
    .not-found__wrapper {
      padding-top: 329px;
      padding-bottom: 30px;
    }
  
    .not-found__title {
      margin-bottom: 10px;
      font-size: 80px;
      line-height: 96.82px;
    }
  
    .not-found__text {
      margin-bottom: 284px;
      font-size: 12px;
      line-height: 14.52px;
    }
  
    .not-found__btn-back {
      font-size: 12px;
      line-height: 14.52px;
    }
  }