.greeteing-title {
    margin-top: 40px;
    margin-bottom: 40px;
    font-family: "Inter", "Arial", sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.2;
    color: white;
  }
  
  .greeteing-title_user-edit {
    text-align: center;
  }
  
  @media screen and (max-width: 720px) {
    .user-edit {
      margin-top: 50px;
      margin-bottom: 80px;
      text-align: center;
    }
  }