.side-menu {
    width: 520px;
    min-height: 100%;
    position: absolute;
    top: 0;
    right: -520px;
    display: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 23px 23px 90px;
    box-sizing: border-box;
    background-color: #202020;
    transition: right 0.6s, visibility 0.6s;
  }
  
  .side-menu_active_active {
    right: 0;
    display: flex;
  }
  
  .side-menu__btn-close {
    width: 30px;
    height: 30px;
    margin-bottom: 107px;
    padding: 0;
    border: none;
    align-self: flex-end;
    background: url("../../images/icon-close.svg") center center/contain no-repeat;
    cursor: pointer;
    transition: .3s ease-in-out;
    opacity: 0.8;
  }
  
  @media screen and (max-width: 1000px) {
    .side-menu {
      width: 400px;
    }
  }
  
  @media screen and (max-width: 660px) {
    .side-menu {
      width: 100%;
      padding: 14px 14px 46px;
    }
  
    .side-menu__btn-close {
      margin-bottom: 101px;
    }
  }