.filter-checkbox {
    display: inline-flex;
    align-items: center;
    position: relative;
    gap: 15px;
    cursor: pointer;
    font-family: "Inter", "Arial", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: white;
  }
  
  .filter-checkbox__switch {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    
  }
  
  .filter-checkbox__button {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 36px;
    height: 20px;
    box-sizing: content-box;
    position: relative;
    border-radius: 30px;
    background-color: #343434;
    transition: 0.5s;
    cursor: pointer;
    
  }
  
  .filter-checkbox__button::before {
    content: "";
    width: 16px;
    height: 16px;
    border-radius: 50%;
    box-sizing: border-box;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 2px;
    transform: translate(0px, -50%);
    background-color: #a0a0a0;
    background-color: white;
    transition: .5s ease-out;
  }
  
  .filter-checkbox__switch:checked + .filter-checkbox__button {
    background-color: #3DDC84;
  }
  
  .filter-checkbox__switch:checked + .filter-checkbox__button::before {
    transform: translate(100%, -50%);
  }
  
  @media screen and (max-width: 1000px) {
    .filter-checkbox {
      gap: 12px;
    }
  }
  
  @media screen and (max-width: 765px) {
    .filter-checkbox {
      gap: 13px;
      font-size: 11px;
      line-height: 18px;
    }
  }